* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Aile", Roboto, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #333;
    border-top: 2px solid transparent;
    border-bottom: 1px solid #29706a;
    color: #dfdccc;
}

tooltip {
    background: #333;
    border: 1px solid #2aa198;
}

tooltip label {
    color: #dfdccc;
}

#workspaces button {
    padding: 0 4px;
    background: transparent;
    color: #dfdccc;
    border-top: 2px solid transparent;
    border-bottom: 1px solid transparent;
}

#workspaces button.visible {
    border-top: 2px solid #6f7b1e;
    border-bottom: 1px solid transparent;
}

#workspaces button.focused {
    background: #b1cc00;
    color: #002b36;
    border-top: 2px solid transparent;
    border-bottom: 1px solid transparent;
}

#workspaces button.urgent {
    background-color: #e75d23;
}

#mode,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight {
    padding: 0 5px;
}

#mode {
    background: #e75d23;
}

#battery.charging {
    border-bottom: #859900;
}

@keyframes blink {
    to {
        border-bottom: #dfdccc;
    }
}

#battery.warning:not(.charging) {
    border-bottom: #e75d23;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#idle_inhibitor {
    margin-right: 5px;
}
