.app-row {
    transition: unset;
    padding: 5px 0 5px 10px;
    background-color: #263238;
}

.app-row:selected {
    background-color: #37474F;
}

.app-label {
    margin-left: 10px;
    font-family: Iosevka Aile;
    font-size: 14px;
}

.app-list {
    background-color: #f00;
}

#root-box {
    border: 3px solid #263238;
    margin: 100px;
    background-color: #263238;
}

#search {
    font-family: Iosevka Aile;
    font-size: 14px;
    padding: 2px 8px;
    margin: 5px;
}
